
.login, .signup {
    display: flex;
    flex-direction: column;
    width: 380px; 
    padding: 30px; 
    background: #a1a1a1;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
    box-sizing: border-box; 
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    background-color: #6e6e6e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Inputs de Texto e Senha */
input[type="text"], 
input[type="password"] {
    font-size: 15px;
    margin: 10px 0; 
    width: 100%; 
    box-sizing: border-box; 
    padding: 15px;
    border: 1px solid #333;
    border-radius: 12px;
    background-color: #444444;
    color: #ffffff;
    outline: none;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.5);
}
input[type="text"]::placeholder, 
input[type="password"]::placeholder {
    color: #d6d6d6; 
    opacity: 1;  
}
input:focus::placeholder {
    color: #888;
}

/* Botões */
button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 14px;
    width: 100%; 
    cursor: pointer;
    border-radius: 10px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 123, 255, 0.3);
}

button:hover {
    background-color: #0056b3;
    transform: translateY(-2px); 
}

/* Título */
.letra {
    text-align: center;
    color: #ffffff; 
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 800;
    text-shadow: 0px 0px 15px rgba(2, 99, 34, 0.8), 2px 2px 5px rgba(0,0,0,0.5);

}

/* Ajuste para esconder o Signup inicialmente */
.signup {
    display: none;
}